@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Splash&display=swap');

@font-face {
    font-family: 'rudaw';
    src: url('./fonts/rudawregular2.ttf');
  }
  .rudaw-font{
    font-family: 'rudaw';
    
  }
  .eng-font{
    font-family: 'Raleway', sans-serif;
  }
